.c{
    margin-top: 3px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    font-family: Lato;
    font-weight: bolder;
    color:#333027;
    background-color: #B8B08D;
}
.r{
    margin-top: 3px;
    width: 68px;
    height: 68px;
    font-family: Lato;
    font-weight: bolder;
    color:#333027;
    background-color: #B8B08D;
}
.cp {
    margin-top: 5px;
    width:30px;
    height: 30px;
}
.er {
    background: url("img/eicon.png");
    width:50px;
    height:50px;
}
.cl {
    background: url("img/clr.png");
    width:50px;
    height:50px;
}
.erc {
    margin-top: 20px;
    margin-left: 690px;
}
.rdo {
    width: 20px;
    height: 20px;
    -webkit-filter: drop-shadow(0px 2px 3px black);
}
label {
    font-family: Lato;
    font-size: 150%;
    font-weight: bolder;
}
#myCanvas {
    margin-top: 20px;
    margin-left: 200px;
}
.title{
    font-family: "Lato";
    font-weight: bolder;
    font-size:300%;
    color: #123456;
    border-bottom: 2px solid #123456;
    /*width:220px;*/
    text-align: center;
    padding-bottom: 15px;
    margin-top: auto;
    /*-webkit-filter: drop-shadow(5px 5px 3px grey);*/
}
